<h1 class="alert alert-info this-works">
  Hello - <%= @data[:name] %>
</h1>

<%= react_component('HelloWorld', props: @data, prerender: false) %>

<p>---------------------</p>

<%= react_component('HelloWorldApp', props: @data, prerender: false) %>
